@charset "UTF-8";

@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

body {
  font-family: "Noto Sans Japanese", sans-serif;
}

.register+.register {
  margin-top: 12px;
}

[id^="medias_"] img:nth-child(1):nth-last-child(3) {
  grid-row: span 2;
}

[id$="_medias"] img:nth-child(1):nth-last-child(3) {
  grid-row: span 2;
}

[id^="reTw_medias_"] img:nth-child(1):nth-last-child(3) {
  grid-row: span 2;
}

input[type="search"]::-webkit-search-cancel-button {
  cursor: pointer; /*  キャンセルボタンにポインターを付ける  */
  -webkit-appearance: none;
}