@charset "UTF-8";

@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

body {
  font-family: "Noto Sans Japanese", sans-serif;
}

[id^="medias_"] img:nth-child(1):nth-last-child(3) {
  grid-row: span 2;
}

[id$="_medias"] img:nth-child(1):nth-last-child(3) {
  grid-row: span 2;
}

[id^="reTw_medias_"] img:nth-child(1):nth-last-child(3) {
  grid-row: span 2;
}