<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head th:replace="fragment/head::head_fragment('Insert title here', ~{::meta}, ~{::script}, ~{})">
<meta name="_csrf_parameter" th:content="${_csrf.parameterName}" />
<meta name="_csrf_header" th:content="${_csrf.headerName}" />
<meta name="_csrf" th:content="${_csrf.token}" />
<meta name="_username" th:cotnent="${#authentication.principal.username}" th:if="${#authorization.expression('isAuthenticated()')}" />
<script th:src="@{/js/post.js}"></script>
<script th:src="@{/js/button.js}"></script>
<script th:src="@{/js/utils.js}"></script>
<script th:src="@{/js/index.js}"></script>
</head>
<body class="w-full h-full grid justify-items-center bg-neutral-200">
  <div id="main" class="min-h-screen grid grid-cols-2 auto-rows-auto" style="grid-template-columns: 80px minmax(295px, 664px) 0px;">
    <header th:replace="fragment/header::header"></header>
    <article id="main_content" class="h-auto mt-20 bg-neutral-50 drop-shadow rounded-t-3xl">
      <section id="search_bar" class="px-5 pt-5 pb-3 border-b-2 shadow rounded-t-3xl">
        <form id="home_tw_form" method="post" th:object="${postTw}" th:action="@{/user/tw}" class="">
          <div class="w-full flex space-x-4 mb-2">
            <label for="home_content" class="block w-12 h-12 aspect-square"><img th:src="@{/icon/{image} (image=${logged.icon})}" class="rounded-xl"></label>
            <textarea id="home_content" name="content" rows="1" class="w-full text-2xl resize-none bg-transparent focus:outline-none" placeholder="What's happening"></textarea>
          </div>
          <div id="home_preview" class="w-full max-h-24 mb-2 flex"></div>
          <div class="flex flex-warp justify-end content-center text-center space-x-3 pt-2 border-t-2 border-dotted border-neutral-300">
            <button type="button" class="flex items-center ml-0 mr-auto" onclick="clearHomeTwForm();">
              <span class="material-icons-round" style="font-size: 36px;"> delete_outline </span>
            </button>
            <div id="home_progress" class="h-10 w-10 flex flex-wrap content-center justify-center rounded-full">
              <div id="home_mask" class="h-8 w-8 flex flex-wrap content-center justify-center rounded-full bg-neutral-50">
                <span id="home_value" class="text-sm"></span>
              </div>
            </div>
            <label for="home_mediaInput" class="h-7 my-auto border-2 border-dotted border-neutral-600 rounded-full"> <span class="material-icons-round text-neutral-600"> add </span></label> <input
              type="file" id="home_mediaInput" name="fileInput" class="hidden" accept="video/*, image/*" multiple> <input type="button" onclick="postHomeTw(this.form)" value="Submit"
              class="w-28 h-10 font-bold text-neutral-900 border border-neutral-900 rounded-3xl">
          </div>
        </form>
      </section>
      <section id="twlist" class="w-full px-5">
        <section th:each="tw : ${twList}" th:id="'tw_' + ${tw.id}" class="min-w-[265px] pt-2 border-t-2 first:border-t-0 border-dotted border-neutral-300">
          <div th:if="${tw.reTw != null && #lists.isEmpty(tw.content[0]) && #lists.isEmpty(tw.mediaList)}" class="flex space-x-2 ml-8">
            <span class="material-icons-round" style="font-size: 18px;"> repeat </span>
            <p class="text-sm" th:text="${tw.user.name} + ' ReTwed'"></p>
          </div>
          <div class="pt-1 pb-3" th:insert="fragment/part::tw(${tw.reTw != null && #lists.isEmpty(tw.content[0]) && #lists.isEmpty(tw.mediaList)} ? ${tw.reTw} : ${tw}, false)"></div>
        </section>
      </section>
      <!--
      <div id="userlist">
        <div th:each="user : ${userlist}" class="flex border">
          <p th:text="'Name : ' + ${user.name}"></p>
          <p>&nbsp;&nbsp;</p>
          <p>ID : <a th:href="@{/user/{id}/(id=${user.userId})}" th:text="${user.userId}"></a></p>
        </div>
      </div>
       -->
    </article>
  </div>
</body>
</html>