<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link th:href="@{/css/output.css}" rel="stylesheet" />
<script th:src="@{/js/post.js}"></script>
</head>
<body>
  <div id="content">
    <h1>Home Page</h1>
    <form method="post" th:action="@{/logout}">
      <input type="submit" value="logout">
    </form>
    <form method="post" th:action="@{/user/tw}">
      <label for="message" class="block mb-2 text-sm text-2xl">Your message</label>
      <textarea id="message" name="content" rows="4" class="text-2xl rounded-lg" placeholder="Write your thoughts here..."></textarea>
      <input type="button" onclick="postTw(this.form)" value="投稿"></input>
    </form>
    <div id="counter" class="">
      <div id="progress" class="h-10 w-10 flex flex-wrap content-center justify-center rounded-full" style="background: conic-gradient(#7d2ae8 3.6deg, #fff 0deg)">
        <div id="mask" class="h-8 w-8 flex flex-wrap content-center justify-center rounded-full bg-white">
          <span id="value">280</span>
        </div>
      </div>
    </div>
    <div id="userlist">
      <div th:each="user : ${userlist}" class="flex border">
        <p th:text="'Name : ' + ${user.name}"></p>
        <p>&nbsp;&nbsp;</p>
        <p>ID : <a th:href="@{/user/{id}/(id=${user.userId})}" th:text="${user.userId}"></a></p>
      </div>
    </div>
  </div>
</body>
</html>