<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head th:replace="fragment/head::head_fragment('Insert title here', ~{::meta}, ~{::script}, ~{})">
<meta name="_csrf_parameter" th:content="${_csrf.parameterName}" />
<meta name="_csrf_header" th:content="${_csrf.headerName}" />
<meta name="_csrf" th:content="${_csrf.token}" />
<meta name="_username" th:cotnent="${#authentication.principal.username}" th:if="${#authorization.expression('isAuthenticated()')}" />
<script th:src="@{/js/post.js}"></script>
<script th:src="@{/js/button.js}"></script>
<script th:src="@{/js/utils.js}"></script>
</head>
<body class="w-full h-full grid justify-items-center bg-neutral-200">
  <article id="main" class="min-h-screen grid grid-cols-2 auto-rows-auto" style="grid-template-columns: 80px minmax(295px, 664px) 0px;">
    <header th:replace="fragment/header::header"></header>
    <article id="main_content" class="h-auto mt-20 bg-neutral-50 drop-shadow rounded-t-3xl">
      <section class="px-5 pt-5 border-b-2 border-neutral-300 shadow">
        <div id="tw_replytw" th:if="${twDTO.replyTw} != null">
          <div th:replace="fragment/part::tw(${twDTO.replyTw}, true)"></div>
        </div>
        <div th:id="'tw_' + ${twDTO.id}">
          <div class="flex space-x-3">
            <a th:href="@{/user/{id}/(id=${twDTO.user.userId})}" th:title="${twDTO.user.userId} + '\'s avater '" class="flex-none w-12 h-12"><img th:id="'icon_' + ${twDTO.id}"
              th:src="@{/images/{image} (image=${twDTO.user.icon})}" class="rounded-lg"></a>
            <div class="w-fit">
              <a th:href="@{/user/{id}/ (id=${twDTO.user.userId})}" th:title="${twDTO.user.userId} + '\'s screen name'"><span th:id="'name_' + ${twDTO.id}" th:text="${twDTO.user.name}"
                class="font-black whitespace-nowrap"></span><br> <span th:id="'userid_' + ${twDTO.id}" th:text="'@' + ${twDTO.user.userId}" class="text-neutral-500 font-thin"></span></a>
            </div>
          </div>
          <p th:id="'content_' + ${twDTO.id}" class="mt-2 break-words whitespace-pre-wrap"><span th:replace="fragment/part::content(${twDTO.content})"></span></p>
          <!--/* Media Fragment Space */-->
          <div th:id="'medias_' + ${twDTO.id}" th:if="${not #lists.isEmpty(twDTO.mediaList)}" th:object="${twDTO}">
            <div th:replace="fragment/part::medias(*{id}, *{mediaList})"></div>
          </div>
          <!--/* ReTw Space */-->
          <div th:id="'reTw_' + ${twDTO.id}" th:if="${twDTO.reTw} != null">
            <div th:replace="fragment/part::reTw(${twDTO.id}, ${twDTO.reTw})"></div>
          </div>
          <p class="my-4 text-sm font-thin" th:text="${#temporals.format(twDTO.createdAt, 'yyyy年MM月dd日 HH時mm分ss秒')}"></p>
        </div>
        <!--/* Reaction Counter Space */-->
        <div class="h-[50px] flex items-center space-x-2 border-t-2 border-dotted border-neutral-300" th:if="${twDTO.reTwListSize != 0 || twDTO.favoriteListSize != 0}">
          <p th:if="${twDTO.reTwListSize != 0}"><span th:text="${twDTO.reTwListSize}"></span><span class="text-sm font-thin text-neutral-500 mb-0.5">件のリツイート</span></p>
          <p th:if="${twDTO.favoriteListSize != 0}"><span th:text="${twDTO.favoriteListSize}"></span><span class="text-sm font-thin text-neutral-500 mb-0.5">件のいいね</span></p>
        </div>
        <!--/* Button Space */-->
        <div class="h-auto flex justify-around py-3 px-1 border-t-2 border-dotted border-neutral-300">
          <button type="button" th:attr="data-id=${twDTO.id}" onclick="openReplyTw(this);" class="flex items-center">
            <span class="material-icons-round"> reply </span>
          </button>
          <button type="button" th:attr="data-id=${twDTO.id}" onclick="openReTw(this);" class="flex items-center">
            <span class="material-icons-round"> repeat </span>
          </button>
          <button type="button" th:attr="data-id=${twDTO.id}" onclick="postFavorite(this, false);" class="flex items-center">
            <span class="material-icons-round" style="animation-duration: 250ms;" th:classappend="${twDTO.isFavorite} ? text-rose-600 : ''" th:text="${twDTO.isFavorite} ? favorite : favorite_border"></span>
          </button>
          <button type="button" class="flex items-center">
            <span class="material-icons-round"> ios_share </span>
          </button>
          <button type="button" th:attr="data-id=${twDTO.id}" onclick="deleteTw(this);" class="flex items-center"
            th:if="${#authorization.expression('isAuthenticated()') && #authentication.principal.username == twDTO.user.userId }">
            <span class="material-icons-round"> delete_outline </span>
          </button>
        </div>
      </section>
      <section id="reply" class="w-full px-5">
        <div th:each="replyTw : ${twDTO.replyTwList}" th:id="'tw_' + ${replyTw.id}" class="min-w-[265px] border-t-2 first:border-t-0 border-dotted border-neutral-300">
          <div class="py-3" th:insert="fragment/part::tw(${replyTw}, false)"></div>
        </div>
      </section>
    </article>
  </article>
</body>
</html>