<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head th:replace="fragment/head::head_fragment('Insert title here', ~{::meta}, ~{::script}, ~{})">
<meta name="_csrf_parameter" th:content="${_csrf.parameterName}" />
<meta name="_csrf_header" th:content="${_csrf.headerName}" />
<meta name="_csrf" th:content="${_csrf.token}" />
<meta name="_username" th:cotnent="${#authentication.principal.username}" th:if="${#authorization.expression('isAuthenticated()')}" />
<script th:src="@{/js/post.js}"></script>
<script th:src="@{/js/button.js}"></script>
<script th:src="@{/js/utils.js}"></script>
<script th:src="@{/js/user.js}"></script>
</head>
<body class="w-full h-full grid justify-items-center bg-neutral-200">
  <!--/*  min 375 max 744 */-->
  <article id="main" class="min-h-screen grid grid-cols-2 auto-rows-auto" style="grid-template-columns: 80px minmax(295px, 664px) 0px;">
    <header th:replace="fragment/header::header"></header>
    <article id="main_content" th:object="${user}" class="h-auto mt-20 bg-neutral-50 drop-shadow rounded-t-3xl">
      <section id="profile" class="w-full border-b-2 border-neutral-300 shadow rounded-t-3xl">
        <div id="profile_back" class="w-full relative overflow-hidden rounded-t-3xl" style="aspect-ratio: 3/1">
          <img th:src="@{/back/{image} (image=*{back})}" class="object-cover"> <label for="userBack"
            class="hidden absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 w-full h-full opacity-25 hover:opacity-75 flex items-center justify-center"
            th:if="${#authorization.expression('isAuthenticated()') && #authentication.principal.username == userId }"> <span class=" material-icons-round" style="font-size: 48px;"> add
          </span>
          </label>
        </div>
        <div class="w-auto relative flex content-end justify-end flex-wrap mx-5" style="aspect-ratio: 8">
          <div id="profile_icon" class="w-1/4 min-w-[96px] absolute left-0 top-0 -translate-y-2/4 aspect-square rounded-3xl">
            <img th:src="@{/icon/{image} (image=*{icon})}" class="rounded-3xl">
          </div>
          <label for="userIcon" class="hidden w-1/4 min-w-[96px] absolute left-0 top-0 -translate-y-1/2 aspect-square opacity-25 hover:opacity-75 flex items-center justify-center"
            th:if="${#authorization.expression('isAuthenticated()') && #authentication.principal.username == userId }"> <span class=" material-icons-round" style="font-size: 48px;"> add
          </span>
          </label>
          <button type="button" th:attr="data-id=*{id}" onclick="postFollow(this);" class="overflow-hidden w-28 h-10 mt-2 font-bold text-neutral-900 border border-neutral-900 rounded-3xl"
            th:unless="${#authorization.expression('isAuthenticated()') && #authentication.principal.username == userId }">
            <span th:text="*{isFollow} ? Following : Follow" class="inline-block" style="animation-fill-mode: forwards; animation-timing-function: ease-in; animation-duration: 150ms;"></span>
          </button>
          <button type="button" th:attr="data-id=*{id}" onclick="editProfile(this);" class="w-28 h-10 mt-2 font-bold text-neutral-900 border border-neutral-900 rounded-3xl"
            th:if="${#authorization.expression('isAuthenticated()') && #authentication.principal.username == userId }">Edit</button>
        </div>
        <div class="px-5 py-3">
          <p id="profile_name" class="font-black text-2xl whitespace-nowrap overflow-hidden"><span th:text="*{name}"></span></p>
          <p id="profile_userId" class="flex font-thin text-sm text-neutral-500 whitespace-nowrap overflow-hidden"><span>@</span><span th:text="*{userId}"></span></p>
          <p id="profile_description" class="flex flex-col h-fit mt-2"><span th:text="*{description}"></span></p>
          <div class="flex space-x-2 mt-2">
            <p id="following"><span th:text="*{followingListSize}"></span><span class="ml-0.5 text-sm font-thin text-neutral-500">Following</span></p>
            <p id="follower" class="overflow-hidden"><span class="inline-block" style="animation-fill-mode: forwards; animation-timing-function: ease-in; animation-duration: 50ms;"
              th:text="*{followerListSize}"></span><span class="ml-0.5 text-sm font-thin text-neutral-500">Follower</span></p>
          </div>
        </div>
        <div id="userForm" th:if="${#authorization.expression('isAuthenticated()') && #authentication.principal.username == userId }">
          <form th:object="${postUser}" method="post" th:action="@{/user}" class="hidden">
            <input name="userId" title="userId" th:field="*{userId}"> <input name="name" title="name" th:field="*{name}">
            <textarea name="description" title="description" th:field="*{description}"></textarea>
            <input type="file" id="userIcon" name="icon" class="hidden" accept="video/*, image/*"> <input type="file" id="userBack" name="back" class="hidden" accept="video/*, image/*">
          </form>
        </div>
      </section>
      <section id="twlist" class="w-full px-5">
        <section th:each="tw : *{twList}" th:id="'tw_' + ${tw.id}" class="min-w-[265px] pt-2 border-t-2 first:border-t-0 border-dotted border-neutral-300">
          <div th:if="${tw.reTw != null && #lists.isEmpty(tw.content[0]) && #lists.isEmpty(tw.mediaList)}" class="flex space-x-2 ml-8">
            <span class="material-icons-round" style="font-size: 18px;"> repeat </span>
            <p class="text-sm" th:text="${tw.user.name} + ' ReTwed'"></p>
          </div>
          <div class="pt-1 pb-3" th:insert="fragment/part::tw(${tw.reTw != null && #lists.isEmpty(tw.content[0]) && #lists.isEmpty(tw.mediaList)} ? ${tw.reTw} : ${tw}, false)"></div>
        </section>
      </section>
    </article>
    <footer></footer>
  </article>
  <div id="login" class="h-full w-full absolute hidden justify-center">
    <div class="w-96 h-auto"></div>
  </div>
</body>
</html>